*{ /*t r b l; t rl b; tb rl; tbrl*/
	margin-left:auto;
	margin-right:auto;
	font-family:sans-serif;
}
body{
	background-color:#B2B2FF;
}
#mainContainer{
	text-align:center;
}
#main{
	/*margin-left:20px;*/
	display:inline-block;
	border:5px outset #00A;
	background-color:#fff;
	padding:10px;
}
#stateinfo{
	margin:3px 5px 3px auto;
	background-color:#001;
	color:#FFF;
	position:absolute;
	right:0px;
	border:5px solid black;
	border-radius:5px;
}
#stateinfo:link{color:#3366FF;}
#stateinfo:visited{color:inherit;}
/*#stateinfo:hover {font-weight:bold}*/
#stateinfo:active{color:#1F1;}
#topbar{
	position:relative;
	text-align:center;
	margin-bottom:10px;
}
#bottombar{
	width:100%;
	padding:5px 0px 15px;
	position:absolute;
	bottom:0px;
	color:white;
	background-color:black;
	border-top:2px solid gray;

}
#innerbottombar{
	margin-left:10px;
	margin-right:10px;
	position:relative;
}
#copy{
	font-size:small;
	/*font-color:gray;*/
}
#loginForm{
	padding:10px;
}
#donatelink{
	position:absolute;
	right:0px;
}
#donatelink:link   {color:#3366FF;}      /* unvisited link */
#donatelink:visited{color:#9933FF;}  /* visited link */
#donatelink:hover  {font-weight:bold;}  /* mouse over link */
#donatelink:active {color:#11FF11;}  /* link is being clicked on */

/*login.fg*/
.stuffdoer{
	font-family:monospace;
	font-size:13.5px;
}
/* stuff for book/view.fgh */
.nextContainer,.prevContainer{
	height:100%;
	position:relative;
}
#bottomNextButton,#bottomPrevButton{
	position:absolute;
	bottom:5px;
}
#bottomNextButton,#bottomPrevButton,#topNextButton,#topPrevButton{
	background-color:#9999FF;
	color:#00004C;
	border:2px solid black;
}
/* usercp.fgh */
.left {text-align:right;}
.right{text-align:left;}
