.center{
		margin-left:auto;
		margin-right:auto;
}
.linkreset{
		text-decoration:none;
		color:inherit;
}
.linkreset:active{
		text-decoration:none;
		color:inherit;
}
.linkreset:hover{
		text-decoration:none;
		color:inherit;
}
.linkreset:visited{
		text-decoration:none;
		color:inherit;
}
.linkreset:focus{
		text-decoration:none;
		color:inherit;
}

html,body{
		height:100%;
		margin:0px;
		padding:0px;
}

body{
		overflow:auto;
		/*overflow-x:hidden;*/
		overflow-y:scroll;
}

.desc{
		width:400px;
		margin-right:auto;
		margin-left:auto;
		font-family:sans-serif;
}

*{ /*t r b l; t rl b; tb rl; tbrl*/
		margin-left:auto;
		margin-right:auto;
		font-family:sans-serif;
}
body{
		background-color:#B2B2FF;
}
#toplogo{
		
}
#notFooter{
		height:100%;
		height:auto !important;
		min-height:100%;
		margin-bottom:-37px;
}
#mainContainer{
		text-align:center;
		height:100%;
}
#push{
		height:37px;
}
#main{
		/*margin-left:20px;*/
		display:inline-block;
		border:5px outset #00A;
		background-color:#fff;
		padding:10px;
		margin-top:100px;
		margin-bottom:50px;
		max-width:75%
}

@media all and (max-width: 900px) and (min-width:450px){
		#main{max-width:90%}
}
@media all and (max-width: 449px){
		#main{max-width:100%}
}
#sitename{
		font-size:21px;
}
.bar{
		font-size:21px;
}
#stateinfo{
		margin:3px 5px 3px auto;
		background-color:#001;
		color:#FFF;
		float:right;
		border:5px solid black;
		border-radius:5px;
}
.blacklink:visited{color:#a1f}/*link on a black background*/
/*
#managelink:link{color:#3366FF;}
#managelink:visited{color:#3366FF;}
/*#stateinfo:hover {font-weight:bold}
#managelink:active{font-weight:bold;}*/
#topbar{
		position:relative;
		text-align:center;
		margin-bottom:10px;
		color:white;
		background-color:black;
		overflow:hidden;
}
.toplinkbar{
		float:left;
		margin:5px;
}
.toplinks:hover,.toplinks:active{
		border-bottom: 1px solid grey;
}
#bottombar{
		width:100%;
		padding:9px 0px 10px;
		color:white;
		background-color:black;
		border-top:2px solid gray;
		position:static;
		bottom:0px;
}
#innerbottombar{
		overflow:visible;
		margin-left:10px;
		margin-right:10px;
		position:relative;
}
#copy{
		font-size:small;
/*font-color:gray;*/
}
#loginForm{
		padding:10px;
}
.bottomlinks{
		float:right;
}
.blacklink:link   {color:#3366FF;}      /* unvisited link */
.blacklink:visited{color:#9933FF;}  /* visited link */
.blacklink:hover  {}  /* mouse over link */
.blacklink:active {color:#11FF11;}  /* link is being clicked on */

/*login.fg*/
.stuffdoer{
		font-family:monospace;
		font-size:13.5px;
}
/* stuff for book/view.fgh */
.nextContainer,.prevContainer{
		height:100%;
		position:relative;
		vertical-align:top;
		overflow:visible;
}
.nextContainer{
		padding-left:5px;
}
.prevContainer{
		padding-right:5px;
}


table{overflow:visible;}

.spacefiller{
		width:50px;
}
/*
#bottomNextButton,#bottomPrevButton{
		position:absolute;
		bottom:0px;
		left:0px;
}
#bottomPrevButton{
		left:-4px;
}
#topNextButton,#topPrevButton{
/*position:absolute;
	top:5px;*
}
#bottomNextButton,#bottomPrevButton,#topNextButton,#topPrevButton{
		background-color:#9999FF;
		color:#00004C;
		border:2px solid black;
		text-decoration:none;
		padding:2px;
}
#topPrevButton{
		position:relative;
		left:-4px;
}*/
.navButton{
		background-color:#9999FF;
		color:#00004C;
		border:2px solid black;
		text-decoration:none;
		padding:2px;
}
.prevButton{
		float:left;
}
.nextButton{
		float:right;
}
#storybody{
		margin-top:25px;
		margin-bottom:25px;
		line-height:30px;
}
.storyname{
		float:right;
		margin-left: 20px;
}
.paratext{
		text-align:left;
}

.pparaText{
		margin-left:12px;
		margin-top:5px;
}
.pparaContainer{
		border:3px solid black;
		text-align:left;
		width:99%;
		margin-bottom:10px;
		border-radius:10px;
		position:relative;
}

.pparaVote{
		float: left;
		margin-bottom: 0px;
		margin-left: 10px;
}

.voteImage{
		border: 4px solid grey;
		padding: 2px;
		margin: 2px;
		border-radius: 7px;
}

.votedImage{
		background-color: #888;
}

.voteCount{
		font-size:large;
		margin-top:6px;
		margin-left:6px;
		float:left;
}
/* positive/negative vote counts */
.votePositive{color:#0f0;}
.voteNegative{color:#f00;}
/*.voteImage:active{
		background-color:#000;
}*/
.addsuggested{
		margin-bottom:26px;
}
.addParaForm{}
.submitParaText{
		width:99%;
		height:300px;
}
.chaptername{
		
}
.submitParaSubmit{
		font-size: 36px;
		border-radius: 50px;
		border-style: solid;
		border-color: #aaa;
}
.submitParaSubmit:active{
		background-color:#040;
		color:#fff;
		border-color:#ddd;
}

.pparaFooter{
		font-size:small;
		text-align:right;
		width:100%;
		margin-bottom:0px;
}

.pparaAuthorContainer{
		right: 0px;
		bottom: 0px;
		position: absolute;
}
.pparaAuthor{
		color:#888;
		font-size:large;
		margin-right:5px;
}

.subscribe{
		float:left;
		text-decoration:none;
		border:2px solid darkblue;
		padding-left:4px;
		padding-right:4px;
		color:black;
		background-color:#fff;
		margin-right:20px;
}
.subscribe:hover{
		background-color:#f8f8f8;
}
.subscribe:active{
		background-color:#ccc;
}
.subbed{
		background-color:#ccc;
}
.subbed:hover{
		background-color:#ccc;
}
.unsubbed{
}
/* usercp */
.left, .right{ padding:5px; }
.left {text-align:right;}
.right{text-align:left;}

/* booklist */
.booklisting{
		/*width:100%;*/
		border:2px solid black;
		padding:2px;
		margin:2px;
}
.bookimg{
		/*float:left;*/
}
.bookimgContainer{
		float:left;
}


.fulllink{
		display:block;
		width:100%;
		height:100%;
}
.booklink{
		/*float:right;*/
		margin:5px;
		margin-right:15px;
}
.booklinkContainer{
		float:right;
}
#recaptcha_area{
		margin-right:auto;
		margin-left:auto;
}
.booklist{
		padding-bottom:3px;
}
#howitworkslink{
		font-size:12px;
		float:left;
}